---
layout: default
---

<script type="text/javascript">
  selectTopbarItem(1);
</script>

<div class="blog">
  <h2>Recently Posted</h2>
  <div class="post-row">
    {% for post in site.posts %}
    <div class="post-card">
      <a href="{{post.url}}">
        <img src={{post.preview}}></img>
      </a>
      <p>
        <a href="{{post.url}}">
          {{post.title}}
        </a>
      </p>
    </div>
    {% endfor %}
  </div>
  {% for category in site.categories %}
  <h3>{{category[0]}}</h3>
  {% for post in category[1] %}
  <div class="post-row">
    <div class="post-title">
      <a href="{{post.url}}">
        {{post.title}}
      </a>
    </div>
    <div class="post-date">
      Posted:&nbsp;&nbsp;{{post.date}}
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
