<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <div class="social-icons">
          <a href="https://scholar.google.com/citations?user=tovcdNcAAAAJ" target="_blank" aria-label="Google Scholar"><i class="ai ai-google-scholar"></i></a>
          <a href="https://orcid.org/0000-0002-0132-3472" target="_blank" aria-label="ORCID"><i class="ai ai-orcid"></i></a>
          <a href="mailto:henri.smitch@gmail.com" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
          <a href="https://github.com/schmidt73" target="_blank" aria-label="GitHub"><i class="fab fa-github-square"></i></a>
          <a href="https://x.com/henrismitch" target="_blank" aria-label="Twitter"><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>