<div class="topbar">
  <div class="topbar-grid">
    <div class="topbar-item-name"><i>Henri's Place</i></div>
    <div class="topbar-item"><a href="/">Home</a></div>
    <div class="topbar-item"><a href="/blog">Blog</a></div>
    <div class="topbar-item-search">Search</div>
  </div>
</div>

<script type="text/javascript">
  selectTopbarItem = function(index) {
      var items = document.getElementsByClassName("topbar-item"); 
      item = items[index];
      item.className = item.className + " topbar-item-selected";
  };
</script>
